#/bin/bash

alias brew_apps="~/git/dotfiles/brew/brew_apps.sh"
alias flush_dns="sudo killall -HUP mDNSResponder"
alias mping="ping mit.edu"
alias gping="ping_gateway"
alias ll="ls -l"
alias grep="grep -v grep | grep"
alias list_functions="declare -f"
alias myisp='curl ipinfo.io'
alias mylip="ifconfig en0 | grep 'inet[ ]' | awk '{print $2}'"
alias myrip="netstat -nr | grep default | head -n1 | awk '{print $2}'"

# Rails/Ruby
#alias rm_pg_pid="rm /usr/local/var/postgres/postmaster.pid"
alias rm_pg_pid="rm /Users/sarojk/git/danphe/smartkhata_rails/tmp/pids/server.pid"
alias fire_rails="rails s -b 0.0.0.0"
alias rails_test_prepare="bundle exec rake db:migrate db:test:prepare"
alias rails_test="bundle exec rake test"
alias rails_test_integration="bundle exec rake test:integration"
alias rails_annotate="bundle exec annotate --exclude tests,fixtures,factories,serializers"
alias find_bind_3000="lsof -wni tcp:3000"
alias find_bind_50000="lsof -wni tcp:50000"
alias find_bind_8080="lsof -wni tcp:8080"
alias check_ruby_syntax='find . -name *.rb -exec ruby -c {} \;'
alias list_rake_tasks='bundle exec rake -T -A'
alias ber='bundle exec rake'
alias be='bundle exec'
alias clear_all_rails_logs="LOGS=all bin/rake log:clear"

#Rcg
alias rec_ber="rails s -p50000"
alias rec_sber_thin="bin/rails_ssl"
alias rec_sber_puma="puma --preload -b 'ssl://127.0.0.1:50000?key=$HOME/.ssl/server.key&cert=$HOME/.ssl/server.crt'"
alias checkout_all_locale_but_en="git checkout config/locales/en-GB.yml config/locales/fr.yml config/locales/zh-TW.yml config/locales/ar.yml"

# OSX Misc
alias dock_right="defaults write com.apple.dock orientation -string 'right' && defaults write com.apple.dock tilesize -int 16 && killall Dock"
alias dock_bottom="defaults write com.apple.dock orientation -string 'bottom' && defaults write com.apple.dock tilesize -int 24 && killall Dock"

#Git
alias files_changed_in_commit='git diff-tree --no-commit-id --name-only -r'
alias files_changed_between_commits='files_changed_in_commit'
alias changes_in_commit='git show --color --pretty=format:%b'
alias changes_between_commits='changes_in_commit'

#Misc
alias generate_random_image='mx=4000;my=3000;head -c "$((3*mx*my))" /dev/urandom | convert -depth 8 -size "${mx}x${my}" RGB:- ~/Downloads/random.png'
alias generate_file_of_certain_size='dd if=/dev/zero of=file.txt count=1024 bs=1024' # The file size is determined by multiplying count and bs. In this case, it creates an 1MB file.
