#/bin/bash

alias open_links="~/Google\ Drive/Code/python/scripts/open_links.py"
alias gdrive="cd ~/Google\ Drive/"
alias brew_apps="~/git/dotfiles/brew/brew_apps.sh"
alias vimn="vim -u NONE"
alias vim="mvim -v"
alias vi="mvim -v"
alias flush_dns="sudo killall -HUP mDNSResponder"
alias mtop="top -o mem"
alias ctop="top -o cpu"
alias mhtop="htop -s PERCENT_MEM"
alias chtop="htop -s PERCENT_CPU"
alias mping="ping mit.edu"
alias ll="ls -l"

# Rails/Ruby
#alias rm_pg_pid="rm /usr/local/var/postgres/postmaster.pid"
alias rm_pg_pid="rm /Users/sarojk/git/danphe/smartkhata_rails/tmp/pids/server.pid"
alias fire_rails="rails s -b 0.0.0.0"
alias rails_test_prepare="bundle exec rake db:migrate db:test:prepare"
alias rails_test="bundle exec rake test"
alias rails_test_integration="bundle exec rake test:integration"
alias rails_annotate="bundle exec annotate --exclude tests,fixtures,factories,serializers"
alias find_bind_3000="lsof -wni tcp:3000"
alias find_bind_50000="lsof -wni tcp:50000"
alias ruby_syntax='find . -name *.rb -exec ruby -c {} \;'
alias list_rake_tasks='bundle exec rake -T'
alias ber='bundle exec rake'
alias be='bundle exec'

#Rcg
alias rec_ber="rails s -p50000"
alias rec_sber="bundle exec bin/rails_ssl"

# OSX Misc
alias dock_right="defaults write com.apple.dock orientation -string 'right' && defaults write com.apple.dock tilesize -int 16 && killall Dock"
alias dock_bottom="defaults write com.apple.dock orientation -string 'bottom' && defaults write com.apple.dock tilesize -int 24 && killall Dock"
alias show_hidden_files='defaults write com.apple.finder AppleShowAllFiles YES && killall Finder'
alias hide_hidden_files='defaults write com.apple.finder AppleShowAllFiles NO && killall Finder'

#Git
alias files_changed_in_commit='git diff-tree --no-commit-id --name-only -r'
